.main{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background: linear-gradient(to right bottom, black, rgb(8, 72, 2), rgb(1, 16, 1));
    /* background-color: black; */
}
.contents{
    width: 100%;
    /* background-color: black; */
    background: linear-gradient(to right bottom, rgb(7, 39, 4));
    min-height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.list{
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    /* background-color: aqua; */
}
.list li {
    /* background-color: antiquewhite; */
    margin: 0 1rem;
}
.list li a{
    text-decoration: none;
    color: white;
}
